---
layout: page
---

<div class="row mb-3">
    <div class="col-md-12 mb-5 text-center">
        <img src="/assets/images/masthead.png" alt="">
    </div>
</div>

<div class="row">
    <div class="col">
        <a href="/news" class="btn btn-light float-right">Archivio News</a>
        <h2>Ultime News</h2>
    </div>
</div>
<div class="row home_news">
    {% for post in site.posts limit:4 %}
        <div class="col-12 col-md-3">
            <article>
                <a href="{{ post.url }}">
                    {% if post.image and post.image != '/assets/images/default-social.png' %}
                        <div class="news_title mb-3" style="background-image: url('{{ post.image }}')">
                            <h2 class="post-title">{{ post.title }}</h2>
                        </div>
                    {% else %}
                        <h2 class="post-title">{{ post.title }}</h2>
                    {% endif %}
                </a>

                <div class="content">
                    {{ post.excerpt }}
                </div>
            </article>
        </div>
    {% endfor %}
</div>
