<article>
    <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <time datetime="{{ post.date }}">Pubblicato il {{ post.date | date: '%d.%m.%Y' }}</time>
    <div class="content">
        {{ post.content }}
    </div>
</article>

<hr>
