<div class="card mb-5">
    <div class="card-header">
        Articoli più recenti
    </div>
    <div class="card-body">
        {% for post in site.posts limit:5 %}
            <a href="{{ post.url }}">{{ post.title }}</a><br><br>
        {% endfor %}
    </div>
</div>

<p class="text-center">
    <a href="https://www.ils.org/sostieni">
        <img src="https://www.ils.org/assets/images/sostieni_ils.png" alt="Sostieni Italian Linux Society" class="img-fluid">
    </a>
</p>
