---
layout: page
title: {{ page.title }}
---

<div class="row post_page">
    <div class="col-12 col-md-9">
        <article itemscope itemtype="https://schema.org/Article">
            {% if page.image and page.image != '/assets/images/default-social.png' %}
                <div class="news_title mb-2" style="background-image: url('{{ page.image }}')"></div>
                {% if page.image_copy %}
                    <p class="text-right"><small>{{ page.image_copy }}</small></p>
                {% endif %}

                <h1 class="post-title display-3">{{ page.title }}</h1>
            {% else %}
                <h1 class="post-title display-3">{{ page.title }}</h1>
            {% endif %}

            <time datetime="{{ page.date }}">Pubblicato il {{ page.date | date: '%d.%m.%Y' }}</time>
            <div class="content">
                {{ page.content }}
            </div>
        </article>
    </div>
    <div class="col-12 col-md-3">
        {% include sidebar.html %}
    </div>
</div>
